@import "tailwindcss";

:root {
  --color-paper: #cfc6c6;
  --color-ink: #000000;
  --color-surface: #F0F0F0;
  --color-accent-blue: #0031A9;
  --color-accent-green: #006800;
  --color-accent-red: #A60000;
  --color-accent-yellow: #6F5500;
  --color-accent-magenta: #721045;
  --color-accent-cyan: #005E8B;
  --color-muted: #4a4949;
  --color-border: #D0D0D0;
  --color-accent-gold:#C6A15B;
}

html {
  scroll-behavior: smooth;
  background: var(--color-paper);
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--color-paper);
  color: var(--color-ink);
  overflow-x: hidden;
  font-family: 'JetBrains Mono', monospace;
}

#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}